/* header-footer-färg: #60B5FF
main-färg: #FFECDB
hover-färg: #AFDDFF

*/
* {
  margin: 0;
  padding: 0;
}
header, main, footer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  line-height: 1.3em;
  font-size: 1.1em;
}

header, footer {
  background-color: #60B5FF;
  text-align: center;
  padding: 1%;
}

main {
  background-color: #FFECDB;
  padding: 1%;
}

input {
  margin: 1% 0;
}
button {
  background-color: #FF9149;
  margin: 1%;
  padding: 0.3% 1%;
}
button:hover {
  background-color: #AFDDFF;
  cursor: pointer;
}

/*Tabell*/
#course-table {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #AFDDFF;
}
th {
  background-color: #AFDDFF;
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
}
#code-header:hover, #name-header:hover, #progress-header:hover {
  text-decoration: underline;
  color: #FF9149;
  cursor: pointer;
}
td {
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #FF9149;
}


/* Stilsättning för mindre skärm*/
@media screen and (max-width: 800px) {
  #course-table {
    overflow-x: auto;
    font-size: 0.6em;
    border-collapse: collapse;
    margin: 2% 0;
  }
  th, td {
    padding: 0 4px;
  }
}
